<!DOCTYPE html>
<html>
<head>
    <title>Passport</title>
</head>
<body>
    <% if(!isAuthenticated){ %>
        <a href="/login"> Log in here</a>
    <%}else{%>
        Hello <%= user.name%>!
    <a href="/logout">Log out</a>
    <%}%>
    <br/>
    <br/>
    <a href="/auth/facebook">Log in with Facebook</a>
</body>
</html>